.about-us {
  display: flex;
  align-items: flex-start; 
  padding: 20px;
  margin-top: 130px;
}

.purple-text {
  color: #B752FD;
} 

.about-us-logo {
  flex: 1;
  display: flex; 
  justify-content: center;  
  align-items: center;
}

.about-us-logo img {
  border-radius: 25px;
  padding-top: 50px;
  max-width: 500px;
}

.about-us-content {
  flex: 3;
  padding-left: 20px;
}

.about-us-content h1 {
  padding-left: 110px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.about-us-content p {
  margin-bottom: 10px;
  padding-left: 110px;
  line-height: 1.6;
}

.about-us-content ul {
  padding-left: 110px;
}

.about-us-history {
  width: 100%;
}

.history-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 80px;
}

.history-content {
  margin-top: 20px;
}

.team-members {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; 
  margin-top: -120px; 
}

.team-member {
  text-align: center;
}

.team-member-photo {
  width: 140px; 
  height: 140px; 
  border-radius: 50%; 
  background-size: cover;
  background-position: center;
  padding: 3px; 
  box-sizing: border-box; 
  overflow: hidden; 
  margin: 40px; 
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.5), 0 0 0 6px rgba(74, 105, 187, 0.5), 0 0 0 9px rgba(205, 77, 204, 0.5);

}

.team-member-name {
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px; 
  margin-bottom: 60px;
}

.testimonialCarousal {
  margin-bottom: 50px;
}

.footer {
  margin-top: 160px;
}